body {
    background-color: burlywood;
}

@media screen and (max-width: 900px) {
  
    body {
        background-color: palevioletred;
    }
    
}

@media screen and (max-width: 600px) {

    body {
        background-color: brown;
    }
    
}